<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Расходники</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        .form-container {
            overflow-y: auto;
        }
        .form-group-inline {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
        }
        .form-group-inline > div {
            margin-right: 10px;
            flex-grow: 1;
        }

        .form-check-inline {
            display: flex;
            align-items: center;
            height: 38px;
            margin: 0 5px;
        }
        .form-check-inline .form-check-input {
            width: 36px;
            height: 36px;
            margin: 0 8px;
        }
        .form-check-inline1 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 38px;
            margin: 0 10px;
        }
        .form-check-inline1 .form-check-input1 {
            width: 36px;
            height: 36px;
            margin: 0;
        }
        .form-check-inline1 label {
            display: flex;
            align-items: center;
            margin-bottom: 0;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-section {
            margin-top: 30px;
        }
        .form-section-buttons {
            margin-top: 20px;
        }
        .hidden {
            display: none;
        }
        .remove-staff-btn {
            color: red;
            cursor: pointer;
            font-size: 1.5em;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .position-relative {
            position: relative;
        }
        .form-section-buttons .btn {
            width: 100%;
            padding: 10px;
            font-size: 1rem;
        }

        .mb-2 {
            margin-bottom: 10px; /* Небольшой отступ между кнопками по вертикали */
        }
    </style>
</head>
<body>
<div class="container form-container">
    <h1>Расходные материалы</h1>
<!--    <div class="form-section-buttons">-->
<!--        <button type="button" class="btn btn-primary" id="addBadge">Добавить бейдж</button>-->
<!--        <button type="button" class="btn btn-primary" id="addLanyard">Добавить ланьярд</button>-->
<!--        <button type="button" class="btn btn-primary" id="addSticker">Добавить наклейку</button>-->
<!--        <button type="button" class="btn btn-primary" id="addBracer">Добавить браслет</button>-->
<!--        <button type="button" class="btn btn-primary" id="addInsert">Добавить вкладыш</button>-->
<!--        <button type="button" class="btn btn-primary" id="addPocket">Добавить карман</button>-->
<!--        <button type="button" class="btn btn-primary" id="addRibbon">Добавить риббон</button>-->
<!--        <button type="button" class="btn btn-primary" id="addAsup">Добавить доп. поле</button>-->
<!--    </div>-->
    <div class="form-section-buttons">
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-2">
                <button type="button" class="btn btn-primary btn-block" id="addBadge">Добавить бейдж</button>
            </div>
            <div class="col-md-3 col-sm-6 mb-2">
                <button type="button" class="btn btn-primary btn-block" id="addLanyard">Добавить ланьярд</button>
            </div>
            <div class="col-md-3 col-sm-6 mb-2">
                <button type="button" class="btn btn-primary btn-block" id="addSticker">Добавить наклейку</button>
            </div>
            <div class="col-md-3 col-sm-6 mb-2">
                <button type="button" class="btn btn-primary btn-block" id="addBracer">Добавить браслет</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-2">
                <button type="button" class="btn btn-primary btn-block" id="addInsert">Добавить вкладыш</button>
            </div>
            <div class="col-md-3 col-sm-6 mb-2">
                <button type="button" class="btn btn-primary btn-block" id="addPocket">Добавить карман</button>
            </div>
            <div class="col-md-3 col-sm-6 mb-2">
                <button type="button" class="btn btn-primary btn-block" id="addRibbon">Добавить риббон</button>
            </div>
            <div class="col-md-3 col-sm-6 mb-2">
                <button type="button" class="btn btn-primary btn-block" id="addAsup">Добавить доп. поле</button>
            </div>
        </div>
    </div>
    <form th:action="@{/input/saveSupplies}" method="post">
        <input type="hidden" name="headerId" th:value="${headerId}"/>
        <input type="hidden" name="suppliesId" th:value="${suppliesId}"/>

        <!-- Badge List -->
        <div th:object="${badgeList}">
            <div id="badge1" class="position-relative hidden">
                <h2>Бейдж</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="badge1Material">Материал:</label>
                        <select name="badge1.badgeMaterial" th:field="*{badges[0].badgeMaterial}" id="badge1Material" class="form-control" onchange="updateBadgeFields(1)">
                            <option value="ПЕЧАТНЫЙ">ПЕЧАТНЫЙ</option>
                            <option value="ПЛАСТИКОВЫЙ">ПЛАСТИКОВЫЙ</option>
                        </select>
                    </div>
                    <div>
                        <label for="badge1LaminationKind">Ламинация:</label>
                        <select name="badge1.laminationKind" th:field="*{badges[0].laminationKind}" id="badge1LaminationKind" class="form-control">
                            <option value="МАТОВЫЙ">МАТОВЫЙ</option>
                            <option value="ГЛЯНЦЕВЫЙ">ГЛЯНЦЕВЫЙ</option>
                        </select>
                    </div>

                    <div>
                        <label for="rfid1">RFID</label>
                        <div class="form-check-inline">
                            <input type="hidden" name="badge1.rfid" th:value="false"/>
                            <input type="checkbox" class="form-check-input" id="rfid1" name="badge1.rfid" th:field="*{badges[0].rfid}"/>
                        </div>
                    </div>
                    <div>
                        <label for="badge1Size">Размер:</label>
                        <input type="text" name="badge1.size" th:field="*{badges[0].size}" id="badge1Size" class="form-control"/>
                    </div>
                    <div>
                        <label for="badge1Chroma">Цветность:</label>
                        <select name="badge1.chroma" th:field="*{badges[0].chroma}" id="badge1Chroma" class="form-control">
                            <option value="4+0">4+0</option>
                            <option value="4+4">4+4</option>
                        </select>
                    </div>
                    <div>
                        <label for="badge1Count">Количество:</label>
                        <input type="number" name="badge1.count" th:field="*{badges[0].count}" id="badge1Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="badge1Price">Стоимость:</label>
                        <input type="number" name="badge1.price" th:field="*{badges[0].price}" id="badge1Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>

            <div id="badge2" class="position-relative hidden">
                <h2>Бейдж дополнительный</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="badge2Material">Материал:</label>
                        <select name="badge2.badgeMaterial" th:field="*{badges[1].badgeMaterial}" id="badge2Material" class="form-control" onchange="updateBadgeFields(2)">
                            <option value="ПЕЧАТНЫЙ">ПЕЧАТНЫЙ</option>
                            <option value="ПЛАСТИКОВЫЙ">ПЛАСТИКОВЫЙ</option>
                        </select>
                    </div>
                    <div>
                        <label for="badge2LaminationKind">Ламинация:</label>
                        <select name="badge2.laminationKind" th:field="*{badges[1].laminationKind}" id="badge2LaminationKind" class="form-control">
                            <option value="МАТОВЫЙ">МАТОВЫЙ</option>
                            <option value="ГЛЯНЦЕВЫЙ">ГЛЯНЦЕВЫЙ</option>
                        </select>
                    </div>

                    <div>
                        <label for="rfid2">RFID</label>
                        <div class="form-check-inline">
                            <input type="hidden" name="badge2.rfid" th:value="false"/>
                            <input type="checkbox" class="form-check-input" id="rfid2" name="badge2.rfid" th:field="*{badges[1].rfid}"/>
                        </div>
                    </div>
                    <div>
                        <label for="badge2Size">Размер:</label>
                        <input type="text" name="badge2.size" th:field="*{badges[1].size}" id="badge2Size" class="form-control"/>
                    </div>
                    <div>
                        <label for="badge2Chroma">Цветность:</label>
                        <select name="badge2.chroma" th:field="*{badges[1].chroma}" id="badge2Chroma" class="form-control">
                            <option value="4+0">4+0</option>
                            <option value="4+4">4+4</option>
                        </select>
                    </div>
                    <div>
                        <label for="badge2Count">Количество:</label>
                        <input type="number" name="badge2.count" th:field="*{badges[1].count}" id="badge2Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="badge2Price">Стоимость:</label>
                        <input type="number" name="badge2.price" th:field="*{badges[1].price}" id="badge2Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>
        </div>

        <!-- Lanyard List -->
        <div th:object="${lanyardList}">
            <div id="lanyard1" class="position-relative hidden">
                <h2>Ланьярд</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="lanyard1Size">Ширина:</label>
                        <select name="lanyard1.lanyardSize" th:field="*{lanyards[0].size}" id="lanyard1Size" class="form-control">
                            <option value="10мм">10мм</option>
                            <option value="16мм">16мм</option>
                            <option value="20мм">20мм</option>
                        </select>
                    </div>
                    <div>
                        <label for="lanyard1Application">Нанесение:</label>
                        <select name="lanyard1.lanyardApplication" th:field="*{lanyards[0].application}" id="lanyard1Application" class="form-control">
                            <option value="Однотонная">Однотонная</option>
                            <option value="Сублимация">Сублимация</option>
                            <option value="Шелкография">Шелкография</option>
                        </select>
                    </div>
                    <div>
                        <label for="lanyard1Bracing">Крепление:</label>
                        <select name="lanyard1.lanyardBracing" th:field="*{lanyards[0].bracing}" id="lanyard1Bracing" class="form-control">
                            <option value="2 карабина-люкс">2 карабина-люкс</option>
                            <option value="Карабин люкс">Карабин люкс</option>
                            <option value="Пластиковая клипса">Пластиковая клипса</option>
                            <option value="Клипса">Клипса</option>
                        </select>
                    </div>
                    <div>
                        <label for="lanyard1Count">Количество:</label>
                        <input type="number" name="lanyard1.count" th:field="*{lanyards[0].count}" id="lanyard1Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="lanyard1Price">Стоимость:</label>
                        <input type="number" name="lanyard1.price" th:field="*{lanyards[0].price}" id="lanyard1Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>

            <div id="lanyard2" class="position-relative hidden">
                <h2>Ланьярд дополнительный</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="lanyard2Size">Ширина:</label>
                        <select name="lanyard2.lanyardSize" th:field="*{lanyards[1].size}" id="lanyard2Size" class="form-control">
                            <option value="10мм">10мм</option>
                            <option value="16мм">16мм</option>
                            <option value="20мм">20мм</option>
                        </select>
                    </div>
                    <div>
                        <label for="lanyard2Application">Нанесение:</label>
                        <select name="lanyard2.lanyardApplication" th:field="*{lanyards[1].application}" id="lanyard2Application" class="form-control">
                            <option value="Однотонная">Однотонная</option>
                            <option value="Сублимация">Сублимация</option>
                            <option value="Шелкография">Шелкография</option>
                        </select>
                    </div>
                    <div>
                        <label for="lanyard2Bracing">Крепление:</label>
                        <select name="lanyard2.lanyardBracing" th:field="*{lanyards[1].bracing}" id="lanyard2Bracing" class="form-control">
                            <option value="2 карабина-люкс">2 карабина-люкс</option>
                            <option value="Карабин люкс">Карабин люкс</option>
                            <option value="Пластиковая клипса">Пластиковая клипса</option>
                            <option value="Клипса">Клипса</option>
                        </select>
                    </div>
                    <div>
                        <label for="lanyard2Count">Количество:</label>
                        <input type="number" name="lanyard2.count" th:field="*{lanyards[1].count}" id="lanyard2Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="lanyard2Price">Стоимость:</label>
                        <input type="number" name="lanyard2.price" th:field="*{lanyards[1].price}" id="lanyard2Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>
        </div>

        <!-- Sticker List -->
        <div th:object="${stickerList}">
            <div id="sticker1" class="position-relative hidden">
                <h2>Наклейка</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="sticker1stick">Наклейка:</label>
                        <select name="sticker1.stick" th:field="*{stickers[0].stick}" id="sticker1stick" class="form-control">
                            <option value="90х38" selected>90х38</option>
                            <option value="62х100">62х100</option>
                            <option value="62х29">62х29</option>
                        </select>
                    </div>
                    <div>
                        <label for="sticker1tape">Лента:</label>
                        <input type="text" name="sticker1.tape" th:field="*{stickers[0].tape}" id="sticker1tape" class="form-control" placeholder="Отрезная лента 62, 38мм"/>
                    </div>

                    <div>
                        <label for="sticker1transparent">Прозрачная</label>
                        <div class="form-check-inline1">
                            <input type="hidden" name="sticker1.transparent" th:value="false"/>
                            <input type="checkbox" class="form-check-input1" id="sticker1transparent" name="sticker1.transparent" th:field="*{stickers[0].transparent}"/>
                        </div>
                    </div>
                    <div>
                        <label for="sticker1Count">Количество:</label>
                        <input type="number" name="sticker1.count" th:field="*{stickers[0].count}" id="sticker1Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="sticker1Price">Стоимость:</label>
                        <input type="number" name="sticker1.price" th:field="*{stickers[0].price}" id="sticker1Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>

            <div id="sticker2" class="position-relative hidden">
                <h2>Наклейка дополнительная</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="sticker2stick">Наклейка:</label>
                        <select name="sticker2.stick" th:field="*{stickers[1].stick}" id="sticker2stick" class="form-control">
                            <option value="90х38" selected>90х38</option>
                            <option value="62х100">62х100</option>
                            <option value="62х29">62х29</option>
                        </select>
                    </div>
                    <div>
                        <label for="sticker2tape">Лента:</label>
                        <input type="text" name="sticker2.tape" th:field="*{stickers[1].tape}" id="sticker2tape" class="form-control" placeholder="Отрезная лента 62, 38мм"/>
                    </div>
                    <div>
                        <label for="sticker2transparent">Прозрачная</label>
                        <div class="form-check-inline1">
                            <input type="hidden" name="sticker2.transparent" th:value="false"/>
                            <input type="checkbox" class="form-check-input1" id="sticker2transparent" name="sticker2.transparent" th:field="*{stickers[1].transparent}"/>
                        </div>
                    </div>
                    <div>
                        <label for="sticker2Count">Количество:</label>
                        <input type="number" name="sticker2.count" th:field="*{stickers[1].count}" id="sticker2Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="sticker2Price">Стоимость:</label>
                        <input type="number" name="sticker2.price" th:field="*{stickers[1].price}" id="sticker2Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>
        </div>

        <!-- Bracer List -->
        <div th:object="${bracerList}">
            <div id="bracer1" class="position-relative hidden">
                <h2>Браслет контрольный</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="bracer1material">Материал:</label>
                        <select name="bracer1.material" th:field="*{bracers[0].material}" id="bracer1material" class="form-control">
                            <option value="БУМАЖНЫЙ" selected>БУМАЖНЫЙ</option>
                            <option value="ВИНИЛОВЫЙ">ВИНИЛОВЫЙ</option>
                        </select>
                    </div>
                    <div>
                        <label for="bracer1color">Цвет:</label>
                        <input type="text" name="bracer1.color" th:field="*{bracers[0].color}" id="bracer1color" class="form-control"/>
                    </div>
                    <div>
                        <label for="bracer1application">Нанесение:</label>
                        <input type="text" name="bracer1.application" th:field="*{bracers[0].application}" id="bracer1application" class="form-control" value="1+0"/>
                    </div>
                    <div>
                        <label for="bracer1width">Ширина:</label>
                        <input type="text" name="bracer1.width" th:field="*{bracers[0].width}" id="bracer1width" class="form-control"/>
                    </div>
                    <div>
                        <label for="bracer1Count">Количество:</label>
                        <input type="number" name="bracer1.count" th:field="*{bracers[0].count}" id="bracer1Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="bracer1Price">Стоимость:</label>
                        <input type="number" name="bracer1.price" th:field="*{bracers[0].price}" id="bracer1Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>

            <div id="bracer2" class="position-relative hidden">
                <h2>Браслет контрольный дополнительный</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="bracer2material">Материал:</label>
                        <select name="bracer2.material" th:field="*{bracers[1].material}" id="bracer2material" class="form-control">
                            <option value="БУМАЖНЫЙ" selected>БУМАЖНЫЙ</option>
                            <option value="ВИНИЛОВЫЙ">ВИНИЛОВЫЙ</option>
                        </select>
                    </div>
                    <div>
                        <label for="bracer2color">Цвет:</label>
                        <input type="text" name="bracer2.color" th:field="*{bracers[1].color}" id="bracer2color" class="form-control"/>
                    </div>
                    <div>
                        <label for="bracer2application">Нанесение:</label>
                        <input type="text" name="bracer2.application" th:field="*{bracers[1].application}" id="bracer2application" class="form-control" value="1+0"/>
                    </div>
                    <div>
                        <label for="bracer2width">Ширина:</label>
                        <input type="text" name="bracer2.width" th:field="*{bracers[1].width}" id="bracer2width" class="form-control"/>
                    </div>
                    <div>
                        <label for="bracer2Count">Количество:</label>
                        <input type="number" name="bracer2.count" th:field="*{bracers[1].count}" id="bracer2Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="bracer2Price">Стоимость:</label>
                        <input type="number" name="bracer2.price" th:field="*{bracers[1].price}" id="bracer2Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>
        </div>

        <!-- Insert List -->
        <div th:object="${insertList}">
            <div id="insert1" class="position-relative hidden">
                <h2>Вкладыш</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="insert1size">Размер:</label>
                        <input type="text" name="insert1size" th:field="*{inserts[0].size}" id="insert1size" class="form-control" value="86x54 мм"/>
                    </div>
                    <div>
                        <label for="insert1chroma">Цветность:</label>
                        <select name="insert1chroma" th:field="*{inserts[0].chroma}" id="insert1chroma" class="form-control">
                            <option value="4+4" selected>4+4</option>
                            <option value="4+0">4+0</option>
                        </select>
                    </div>
                    <div>
                        <label for="insert1density">Плотность:</label>
                        <input type="text" name="insert1density" th:field="*{inserts[0].density}" id="insert1density" class="form-control" value="150 гр."/>
                    </div>
                    <div>
                        <label for="insert1Count">Количество:</label>
                        <input type="number" name="insert1.count" th:field="*{inserts[0].count}" id="insert1Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="insert1Price">Стоимость:</label>
                        <input type="number" name="insert1.price" th:field="*{inserts[0].price}" id="insert1Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>

            <div id="insert2" class="position-relative hidden">
                <h2>Вкладыш дополнительный</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="insert2size">Размер:</label>
                        <input type="text" name="insert2size" th:field="*{inserts[1].size}" id="insert2size" class="form-control" value="86x54 мм"/>
                    </div>
                    <div>
                        <label for="insert2chroma">Цветность:</label>
                        <select name="insert2chroma" th:field="*{inserts[1].chroma}" id="insert2chroma" class="form-control">
                            <option value="4+4" selected>4+4</option>
                            <option value="4+0">4+0</option>
                        </select>
                    </div>
                    <div>
                        <label for="insert2density">Плотность:</label>
                        <input type="text" name="insert2density" th:field="*{inserts[1].density}" id="insert2density" class="form-control" value="150 гр."/>
                    </div>
                    <div>
                        <label for="insert2Count">Количество:</label>
                        <input type="number" name="insert2.count" th:field="*{inserts[1].count}" id="insert2Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="insert2Price">Стоимость:</label>
                        <input type="number" name="insert2.price" th:field="*{inserts[1].price}" id="insert2Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>
        </div>

        <!-- Pocket List -->
        <div th:object="${pocketList}">
            <div id="pocket1" class="position-relative hidden">
                <h2>Карман</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="pocket1size">Размер:</label>
                        <input type="text" name="pocket1size" th:field="*{pockets[0].size}" id="pocket1size" class="form-control" value="86x54 мм"/>
                    </div>
                    <div>
                        <label for="pocket1Count">Количество:</label>
                        <input type="number" name="pocket1.count" th:field="*{pockets[0].count}" id="pocket1Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="pocket1Price">Стоимость:</label>
                        <input type="number" name="pocket1.price" th:field="*{pockets[0].price}" id="pocket1Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>

            <div id="pocket2" class="position-relative hidden">
                <h2>Карман дополнительный</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="pocket2size">Размер:</label>
                        <input type="text" name="pocket2size" th:field="*{pockets[1].size}" id="pocket2size" class="form-control" value="86x54 мм"/>
                    </div>
                    <div>
                        <label for="pocket2Count">Количество:</label>
                        <input type="number" name="pocket2.count" th:field="*{pockets[1].count}" id="pocket2Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="pocket2Price">Стоимость:</label>
                        <input type="number" name="pocket2.price" th:field="*{pockets[1].price}" id="pocket2Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>
        </div>

        <!-- Ribbon List -->
        <div th:object="${ribbonList}">
            <div id="ribbon1" class="position-relative hidden">
                <h2>Риббон для печати на пластике</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="ribbon1kind">Вид:</label>
                        <select name="ribbon1.kind" th:field="*{ribbons[0].kind}" id="ribbon1kind" class="form-control">
                            <option value="Полноцветный" selected>Полноцветный</option>
                            <option value="Монохромный">Монохромный</option>
                        </select>
                    </div>
                    <div>
                        <label for="ribbon1Count">Количество:</label>
                        <input type="number" name="ribbon1.count" th:field="*{ribbons[0].count}" id="ribbon1Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="ribbon1Price">Стоимость:</label>
                        <input type="number" name="ribbon1.price" th:field="*{ribbons[0].price}" id="ribbon1Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>

            <div id="ribbon2" class="position-relative hidden">
                <h2>Риббон для печати на пластике дополнительный</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="ribbon2kind">Вид:</label>
                        <select name="ribbon2.kind" th:field="*{ribbons[1].kind}" id="ribbon2kind" class="form-control">
                            <option value="Полноцветный" selected>Полноцветный</option>
                            <option value="Монохромный">Монохромный</option>
                        </select>
                    </div>
                    <div>
                        <label for="ribbon2Count">Количество:</label>
                        <input type="number" name="ribbon2.count" th:field="*{ribbons[1].count}" id="ribbon2Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="ribbon2Price">Стоимость:</label>
                        <input type="number" name="ribbon2.price" th:field="*{ribbons[1].price}" id="ribbon2Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>
        </div>

        <!-- Additional (Asup) -->
        <div th:object="${asupList}">
            <div id="asup1" class="position-relative hidden">
                <h2>Дополнительное поле (голограммы, дыроколы и пр)</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="asup1description">Описание:</label>
                        <input type="text" name="asup1.description" th:field="*{asups[0].description}" id="asup1description" class="form-control"/>
                    </div>
                    <div>
                        <label for="asup1Count">Количество:</label>
                        <input type="number" name="asup1.count" th:field="*{asups[0].count}" id="asup1Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="asup1Price">Стоимость:</label>
                        <input type="number" name="asup1.price" th:field="*{asups[0].price}" id="asup1Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>

            <div id="asup2" class="position-relative hidden">
                <h2>Еще дополнительное поле (голограммы, дыроколы и пр)</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="asup2description">Описание:</label>
                        <input type="text" name="asup2.description" th:field="*{asups[1].description}" id="asup2description" class="form-control"/>
                    </div>
                    <div>
                        <label for="asup2Count">Количество:</label>
                        <input type="number" name="asup2.count" th:field="*{asups[1].count}" id="asup2Count" class="form-control"/>
                    </div>
                    <div>
                        <label for="asup2Price">Стоимость:</label>
                        <input type="number" name="asup2.price" th:field="*{asups[1].price}" id="asup2Price" class="form-control"/>
                    </div>
                </div>
                <div class="remove-staff-btn">&times;</div>
            </div>
        </div>

        <div class="form-section-buttons">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>

<script>
    function toggleRemoveButtons() {
        // Переключаем кнопки удаления для бейджей
        if ($('#badge2').hasClass('hidden')) {
            $('#badge1 .remove-staff-btn').show();
        } else {
            $('#badge1 .remove-staff-btn').hide();
            $('#badge2 .remove-staff-btn').show();
        }

        // Переключаем кнопки удаления для ланьярдов
        if ($('#lanyard2').hasClass('hidden')) {
            $('#lanyard1 .remove-staff-btn').show();
        } else {
            $('#lanyard1 .remove-staff-btn').hide();
            $('#lanyard2 .remove-staff-btn').show();
        }

        // Переключаем кнопки удаления для наклеек
        if ($('#sticker2').hasClass('hidden')) {
            $('#sticker1 .remove-staff-btn').show();
        } else {
            $('#sticker1 .remove-staff-btn').hide();
            $('#sticker2 .remove-staff-btn').show();
        }

        // Переключаем кнопки удаления для браслетов
        if ($('#bracer2').hasClass('hidden')) {
            $('#bracer1 .remove-staff-btn').show();
        } else {
            $('#bracer1 .remove-staff-btn').hide();
            $('#bracer2 .remove-staff-btn').show();
        }

        // Переключаем кнопки удаления для вкладышей
        if ($('#insert2').hasClass('hidden')) {
            $('#insert1 .remove-staff-btn').show();
        } else {
            $('#insert1 .remove-staff-btn').hide();
            $('#insert2 .remove-staff-btn').show();
        }

        // Переключаем кнопки удаления для карманов
        if ($('#pocket2').hasClass('hidden')) {
            $('#pocket1 .remove-staff-btn').show();
        } else {
            $('#pocket1 .remove-staff-btn').hide();
            $('#pocket2 .remove-staff-btn').show();
        }

        // Переключаем кнопки удаления для риббонов
        if ($('#ribbon2').hasClass('hidden')) {
            $('#ribbon1 .remove-staff-btn').show();
        } else {
            $('#ribbon1 .remove-staff-btn').hide();
            $('#ribbon2 .remove-staff-btn').show();
        }

        // Переключаем кнопки удаления для дополнительных полей
        if ($('#asup2').hasClass('hidden')) {
            $('#asup1 .remove-staff-btn').show();
        } else {
            $('#asup1 .remove-staff-btn').hide();
            $('#asup2 .remove-staff-btn').show();
        }
    }

    function toggleAddButtons() {
        // Скрываем кнопку "Добавить бейдж", если оба бейджа видимы
        if (!$('#badge1').hasClass('hidden') && !$('#badge2').hasClass('hidden')) {
            $('#addBadge').hide();
        } else {
            $('#addBadge').show();
        }

        // Скрываем кнопку "Добавить ланьярд", если оба ланьярда видимы
        if (!$('#lanyard1').hasClass('hidden') && !$('#lanyard2').hasClass('hidden')) {
            $('#addLanyard').hide();
        } else {
            $('#addLanyard').show();
        }

        // Скрываем кнопку "Добавить наклейку", если обе наклейки видимы
        if (!$('#sticker1').hasClass('hidden') && !$('#sticker2').hasClass('hidden')) {
            $('#addSticker').hide();
        } else {
            $('#addSticker').show();
        }

        // Скрываем кнопку "Добавить браслет", если оба браслета видимы
        if (!$('#bracer1').hasClass('hidden') && !$('#bracer2').hasClass('hidden')) {
            $('#addBracer').hide();
        } else {
            $('#addBracer').show();
        }

        // Скрываем кнопку "Добавить вкладыш", если оба вкладыша видимы
        if (!$('#insert1').hasClass('hidden') && !$('#insert2').hasClass('hidden')) {
            $('#addInsert').hide();
        } else {
            $('#addInsert').show();
        }

        // Скрываем кнопку "Добавить карман", если оба кармана видимы
        if (!$('#pocket1').hasClass('hidden') && !$('#pocket2').hasClass('hidden')) {
            $('#addPocket').hide();
        } else {
            $('#addPocket').show();
        }

        // Скрываем кнопку "Добавить риббон", если оба риббона видимы
        if (!$('#ribbon1').hasClass('hidden') && !$('#ribbon2').hasClass('hidden')) {
            $('#addRibbon').hide();
        } else {
            $('#addRibbon').show();
        }

        // Скрываем кнопку "Добавить доп. поле", если оба доп. поля видимы
        if (!$('#asup1').hasClass('hidden') && !$('#asup2').hasClass('hidden')) {
            $('#addAsup').hide();
        } else {
            $('#addAsup').show();
        }
    }

    $('#addBadge').click(function() {
        if ($('#badge1').hasClass('hidden')) {
            $('#badge1').removeClass('hidden');
        } else if ($('#badge2').hasClass('hidden')) {
            $('#badge2').removeClass('hidden');
        }
        toggleRemoveButtons();
        toggleAddButtons();
    });

    $('#addLanyard').click(function() {
        if ($('#lanyard1').hasClass('hidden')) {
            $('#lanyard1').removeClass('hidden');
        } else if ($('#lanyard2').hasClass('hidden')) {
            $('#lanyard2').removeClass('hidden');
        }
        toggleRemoveButtons();
        toggleAddButtons();
    });

    $('#addSticker').click(function() {
        if ($('#sticker1').hasClass('hidden')) {
            $('#sticker1').removeClass('hidden');
        } else if ($('#sticker2').hasClass('hidden')) {
            $('#sticker2').removeClass('hidden');
        }
        toggleRemoveButtons();
        toggleAddButtons();
    });

    $('#addBracer').click(function() {
        if ($('#bracer1').hasClass('hidden')) {
            $('#bracer1').removeClass('hidden');
        } else if ($('#bracer2').hasClass('hidden')) {
            $('#bracer2').removeClass('hidden');
        }
        toggleRemoveButtons();
        toggleAddButtons();
    });

    $('#addInsert').click(function() {
        if ($('#insert1').hasClass('hidden')) {
            $('#insert1').removeClass('hidden');
        } else if ($('#insert2').hasClass('hidden')) {
            $('#insert2').removeClass('hidden');
        }
        toggleRemoveButtons();
        toggleAddButtons();
    });

    $('#addPocket').click(function() {
        if ($('#pocket1').hasClass('hidden')) {
            $('#pocket1').removeClass('hidden');
        } else if ($('#pocket2').hasClass('hidden')) {
            $('#pocket2').removeClass('hidden');
        }
        toggleRemoveButtons();
        toggleAddButtons();
    });

    $('#addRibbon').click(function() {
        if ($('#ribbon1').hasClass('hidden')) {
            $('#ribbon1').removeClass('hidden');
        } else if ($('#ribbon2').hasClass('hidden')) {
            $('#ribbon2').removeClass('hidden');
        }
        toggleRemoveButtons();
        toggleAddButtons();
    });

    $('#addAsup').click(function() {
        if ($('#asup1').hasClass('hidden')) {
            $('#asup1').removeClass('hidden');
        } else if ($('#asup2').hasClass('hidden')) {
            $('#asup2').removeClass('hidden');
        }
        toggleRemoveButtons();
        toggleAddButtons();
    });

    // Remove section and reset values
    $('.remove-staff-btn').click(function() {
        var section = $(this).closest('.position-relative');
        section.addClass('hidden');

        // Reset all input fields to default values
        section.find('select').val('');
        section.find('input[type="text"]').val('');
        section.find('input[type="number"]').val('');
        section.find('input[type="checkbox"]').prop('checked', false);

        // Toggle the remove buttons and add buttons visibility after hiding a section
        toggleRemoveButtons();
        toggleAddButtons();
    });

    // Initial call to hide all remove buttons except for the last added
    toggleRemoveButtons();
    toggleAddButtons();
</script>

</body>
</html>
