<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>Логистика</title>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<!--    <style>-->
<!--        .form-container {-->
<!--            overflow-y: auto;-->
<!--        }-->
<!--        .form-group-inline {-->
<!--            display: flex;-->
<!--            align-items: flex-start;-->
<!--            margin-bottom: 10px;-->
<!--        }-->
<!--        .form-group-inline > div {-->
<!--            margin-right: 10px;-->
<!--            flex-grow: 1;-->
<!--        }-->
<!--        .hidden {-->
<!--            display: none;-->
<!--        }-->
<!--        .remove-logistic-btn {-->
<!--            color: red;-->
<!--            cursor: pointer;-->
<!--            font-size: 1.5em;-->
<!--            position: absolute;-->
<!--            right: 10px;-->
<!--            top: 10px;-->
<!--        }-->
<!--        .position-relative {-->
<!--            position: relative;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container form-container">-->
<!--    <h1>Логистика\Проживание</h1>-->
<!--    <div class="form-section-buttons">-->
<!--        <button type="button" class="btn btn-primary" id="addLogistic">Добавить логистику</button>-->
<!--    </div>-->
<!--    <form th:action="@{/input/saveLogisticInput}" method="post">-->
<!--        <input type="hidden" name="headerId" th:value="${headerId}"/>-->

<!--        &lt;!&ndash; Logistic List &ndash;&gt;-->
<!--        <div th:object="${headerLogistics}">-->
<!--            <div id="logistic1" class="position-relative">-->
<!--                <h2>Логистика 1</h2>-->
<!--                <div class="form-group-inline">-->
<!--                    <div>-->
<!--                        <label for="logistic1Description">Описание:</label>-->
<!--                        <input type="text" name="logistic1.description" th:field="*{logistics[0].description}" id="logistic1Description" class="form-control"/>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label for="logistic1Price">Стоимость:</label>-->
<!--                        <input type="number" name="logistic1.price" th:field="*{logistics[0].price}" id="logistic1Price" class="form-control"/>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label for="logistic1Count">Количество:</label>-->
<!--                        <input type="number" name="logistic1.count" th:field="*{logistics[0].count}" id="logistic1Count" class="form-control"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="remove-logistic-btn">&times;</div>-->
<!--            </div>-->

<!--            <div id="logistic2" class="position-relative hidden">-->
<!--                <h2>Логистика 2</h2>-->
<!--                <div class="form-group-inline">-->
<!--                    <div>-->
<!--                        <label for="logistic2Description">Описание:</label>-->
<!--                        <input type="text" name="logistic2.description" th:field="*{logistics[1].description}" id="logistic2Description" class="form-control"/>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label for="logistic2Price">Стоимость:</label>-->
<!--                        <input type="number" name="logistic2.price" th:field="*{logistics[1].price}" id="logistic2Price" class="form-control"/>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label for="logistic2Count">Количество:</label>-->
<!--                        <input type="number" name="logistic2.count" th:field="*{logistics[1].count}" id="logistic2Count" class="form-control"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="remove-logistic-btn">&times;</div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Динамическое добавление еще 8 логистик (по аналогии) &ndash;&gt;-->

<!--        </div>-->

<!--        <div class="form-section-buttons">-->
<!--            <button type="submit" class="btn btn-primary">Сохранить</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--<script>-->
<!--    function toggleRemoveButtons() {-->
<!--        // Переключаем кнопки удаления для логистики-->
<!--        if ($('#logistic2').hasClass('hidden')) {-->
<!--            $('#logistic1 .remove-logistic-btn').show();-->
<!--        } else {-->
<!--            $('#logistic1 .remove-logistic-btn').hide();-->
<!--            $('#logistic2 .remove-logistic-btn').show();-->
<!--        }-->

<!--        // Аналогичные проверки для остальных логистик (3-10)-->
<!--    }-->

<!--    function toggleAddButton() {-->
<!--        // Скрываем кнопку "Добавить логистику", если все логистики видимы-->
<!--        if (!$('#logistic1').hasClass('hidden') && !$('#logistic2').hasClass('hidden')) {-->
<!--            $('#addLogistic').hide();-->
<!--        } else {-->
<!--            $('#addLogistic').show();-->
<!--        }-->

<!--        // Аналогичные проверки для остальных логистик (3-10)-->
<!--    }-->

<!--    $('#addLogistic').click(function() {-->
<!--        if ($('#logistic1').hasClass('hidden')) {-->
<!--            $('#logistic1').removeClass('hidden');-->
<!--        } else if ($('#logistic2').hasClass('hidden')) {-->
<!--            $('#logistic2').removeClass('hidden');-->
<!--        }-->
<!--        // Аналогичные проверки для остальных логистик (3-10)-->
<!--        toggleRemoveButtons();-->
<!--        toggleAddButton();-->
<!--    });-->

<!--    // Удаление логистики-->
<!--    $('.remove-logistic-btn').click(function() {-->
<!--        var section = $(this).closest('.position-relative');-->
<!--        section.addClass('hidden');-->

<!--        // Сбрасываем значения полей-->
<!--        section.find('input[type="text"]').val('');-->
<!--        section.find('input[type="number"]').val('');-->

<!--        // Обновляем видимость кнопок-->
<!--        toggleRemoveButtons();-->
<!--        toggleAddButton();-->
<!--    });-->

<!--    // Инициализация кнопок при загрузке-->
<!--    toggleRemoveButtons();-->
<!--    toggleAddButton();-->
<!--</script>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Логистика</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        .form-container {
            overflow-y: auto;
        }
        .form-group-inline {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
        }
        .form-group-inline > div {
            margin-right: 10px;
            flex-grow: 1;
        }
        .hidden {
            display: none;
        }
        .remove-logistic-btn {
            color: red;
            cursor: pointer;
            font-size: 1.5em;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .position-relative {
            position: relative;
        }
    </style>
</head>
<body>
<div class="container form-container">
    <h1>Логистика\Проживание</h1>
    <div class="form-section-buttons">
        <button type="button" class="btn btn-primary" id="addLogistic">Добавить логистику</button>
    </div>
    <form th:action="@{/input/saveLogisticInput}" method="post">
        <input type="hidden" name="headerId" th:value="${headerId}"/>

        <!-- Logistic List -->
        <div th:object="${headerLogistics}">
            <!-- Logistic 1 -->
            <div id="logistic1" class="position-relative hidden">
                <h2>Логистика 1</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="logistic1Description">Описание:</label>
                        <input type="text" name="logistic1.description" th:field="*{logistics[0].description}" id="logistic1Description" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic1Price">Стоимость:</label>
                        <input type="number" name="logistic1.price" th:field="*{logistics[0].price}" id="logistic1Price" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic1Count">Количество:</label>
                        <input type="number" name="logistic1.count" th:field="*{logistics[0].count}" id="logistic1Count" class="form-control"/>
                    </div>
                </div>
                <div class="remove-logistic-btn hidden">&times;</div>
            </div>

            <!-- Logistic 2 -->
            <div id="logistic2" class="position-relative hidden">
                <h2>Логистика 2</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="logistic2Description">Описание:</label>
                        <input type="text" name="logistic2.description" th:field="*{logistics[1].description}" id="logistic2Description" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic2Price">Стоимость:</label>
                        <input type="number" name="logistic2.price" th:field="*{logistics[1].price}" id="logistic2Price" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic2Count">Количество:</label>
                        <input type="number" name="logistic2.count" th:field="*{logistics[1].count}" id="logistic2Count" class="form-control"/>
                    </div>
                </div>
                <div class="remove-logistic-btn hidden">&times;</div>
            </div>

            <!-- Logistic 3-10 (оставшиеся логистики по аналогии) -->
            <!-- Добавить остальные логистики по аналогии с первыми двумя -->
            <!-- Logistic 3 -->
            <div id="logistic3" class="position-relative hidden">
                <h2>Логистика 3</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="logistic3Description">Описание:</label>
                        <input type="text" name="logistic3.description" th:field="*{logistics[2].description}" id="logistic3Description" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic3Price">Стоимость:</label>
                        <input type="number" name="logistic3.price" th:field="*{logistics[2].price}" id="logistic3Price" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic3Count">Количество:</label>
                        <input type="number" name="logistic3.count" th:field="*{logistics[2].count}" id="logistic3Count" class="form-control"/>
                    </div>
                </div>
                <div class="remove-logistic-btn hidden">&times;</div>
            </div>

            <!-- Logistic 4 -->
            <div id="logistic4" class="position-relative hidden">
                <h2>Логистика 4</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="logistic4Description">Описание:</label>
                        <input type="text" name="logistic4.description" th:field="*{logistics[3].description}" id="logistic4Description" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic4Price">Стоимость:</label>
                        <input type="number" name="logistic4.price" th:field="*{logistics[3].price}" id="logistic4Price" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic4Count">Количество:</label>
                        <input type="number" name="logistic4.count" th:field="*{logistics[3].count}" id="logistic4Count" class="form-control"/>
                    </div>
                </div>
                <div class="remove-logistic-btn hidden">&times;</div>
            </div>

            <!-- Logistic 5 -->
            <div id="logistic5" class="position-relative hidden">
                <h2>Логистика 5</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="logistic5Description">Описание:</label>
                        <input type="text" name="logistic5.description" th:field="*{logistics[4].description}" id="logistic5Description" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic5Price">Стоимость:</label>
                        <input type="number" name="logistic5.price" th:field="*{logistics[4].price}" id="logistic5Price" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic5Count">Количество:</label>
                        <input type="number" name="logistic5.count" th:field="*{logistics[4].count}" id="logistic5Count" class="form-control"/>
                    </div>
                </div>
                <div class="remove-logistic-btn hidden">&times;</div>
            </div>

            <!-- Logistic 6 -->
            <div id="logistic6" class="position-relative hidden">
                <h2>Логистика 6</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="logistic6Description">Описание:</label>
                        <input type="text" name="logistic6.description" th:field="*{logistics[5].description}" id="logistic6Description" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic6Price">Стоимость:</label>
                        <input type="number" name="logistic6.price" th:field="*{logistics[5].price}" id="logistic6Price" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic6Count">Количество:</label>
                        <input type="number" name="logistic6.count" th:field="*{logistics[5].count}" id="logistic6Count" class="form-control"/>
                    </div>
                </div>
                <div class="remove-logistic-btn hidden">&times;</div>
            </div>

            <!-- Logistic 7 -->
            <div id="logistic7" class="position-relative hidden">
                <h2>Логистика 7</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="logistic7Description">Описание:</label>
                        <input type="text" name="logistic7.description" th:field="*{logistics[6].description}" id="logistic7Description" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic7Price">Стоимость:</label>
                        <input type="number" name="logistic7.price" th:field="*{logistics[6].price}" id="logistic7Price" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic7Count">Количество:</label>
                        <input type="number" name="logistic7.count" th:field="*{logistics[6].count}" id="logistic7Count" class="form-control"/>
                    </div>
                </div>
                <div class="remove-logistic-btn hidden">&times;</div>
            </div>

            <!-- Logistic 8 -->
            <div id="logistic8" class="position-relative hidden">
                <h2>Логистика 8</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="logistic8Description">Описание:</label>
                        <input type="text" name="logistic8.description" th:field="*{logistics[7].description}" id="logistic8Description" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic8Price">Стоимость:</label>
                        <input type="number" name="logistic8.price" th:field="*{logistics[7].price}" id="logistic8Price" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic8Count">Количество:</label>
                        <input type="number" name="logistic8.count" th:field="*{logistics[7].count}" id="logistic8Count" class="form-control"/>
                    </div>
                </div>
                <div class="remove-logistic-btn hidden">&times;</div>
            </div>

            <!-- Logistic 9 -->
            <div id="logistic9" class="position-relative hidden">
                <h2>Логистика 9</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="logistic9Description">Описание:</label>
                        <input type="text" name="logistic9.description" th:field="*{logistics[8].description}" id="logistic9Description" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic9Price">Стоимость:</label>
                        <input type="number" name="logistic9.price" th:field="*{logistics[8].price}" id="logistic9Price" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic9Count">Количество:</label>
                        <input type="number" name="logistic9.count" th:field="*{logistics[8].count}" id="logistic9Count" class="form-control"/>
                    </div>
                </div>
                <div class="remove-logistic-btn hidden">&times;</div>
            </div>

            <!-- Logistic 10 -->
            <div id="logistic10" class="position-relative hidden">
                <h2>Логистика 10</h2>
                <div class="form-group-inline">
                    <div>
                        <label for="logistic10Description">Описание:</label>
                        <input type="text" name="logistic10.description" th:field="*{logistics[9].description}" id="logistic10Description" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic10Price">Стоимость:</label>
                        <input type="number" name="logistic10.price" th:field="*{logistics[9].price}" id="logistic10Price" class="form-control"/>
                    </div>
                    <div>
                        <label for="logistic10Count">Количество:</label>
                        <input type="number" name="logistic10.count" th:field="*{logistics[9].count}" id="logistic10Count" class="form-control"/>
                    </div>
                </div>
                <div class="remove-logistic-btn hidden">&times;</div>
            </div>
        </div>

        <div class="form-section-buttons">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>

<script>
    function toggleRemoveButtons() {
        // Показываем кнопку удаления только для последней видимой логистики
        let lastVisibleLogistic = null;
        for (let i = 1; i <= 10; i++) {
            const currentLogistic = $('#logistic' + i);
            if (!currentLogistic.hasClass('hidden')) {
                lastVisibleLogistic = currentLogistic;
            }
        }
        $('.remove-logistic-btn').addClass('hidden'); // Скрываем все кнопки удаления
        if (lastVisibleLogistic) {
            lastVisibleLogistic.find('.remove-logistic-btn').removeClass('hidden'); // Показываем кнопку удаления только для последнего
        }
    }

    function toggleAddButton() {
        // Скрываем кнопку "Добавить логистику", если все логистики видимы
        let allVisible = true;
        for (let i = 1; i <= 10; i++) {
            if ($('#logistic' + i).hasClass('hidden')) {
                allVisible = false;
                break;
            }
        }
        if (allVisible) {
            $('#addLogistic').hide();
        } else {
            $('#addLogistic').show();
        }
    }

    $('#addLogistic').click(function() {
        for (let i = 1; i <= 10; i++) {
            const currentLogistic = $('#logistic' + i);
            if (currentLogistic.hasClass('hidden')) {
                currentLogistic.removeClass('hidden');
                break;
            }
        }
        toggleRemoveButtons();
        toggleAddButton();
    });

    // Удаление логистики
    $('.remove-logistic-btn').click(function() {
        const lastVisibleLogistic = $('.position-relative:not(.hidden)').last();
        lastVisibleLogistic.addClass('hidden');

        // Сбрасываем значения полей
        lastVisibleLogistic.find('input[type="text"]').val('');
        lastVisibleLogistic.find('input[type="number"]').val('');

        // Обновляем видимость кнопок
        toggleRemoveButtons();
        toggleAddButton();
    });

    // Инициализация кнопок при загрузке
    toggleRemoveButtons();
    toggleAddButton();
</script>

</body>
</html>
